flask>=3.0.0
flask-cors>=4.0.0
flask-socketio>=5.3.6
eventlet>=0.35.2
gunicorn>=21.2.0
requests>=2.31.0

alpaca-trade-api>=3.2.0
alpha_vantage>=2.3.1
pushbullet.py>=0.12.0

pandas>=2.2.0

stripe>=7.8.0
sendgrid>=6.11.0
twilio>=8.10.0

google-api-python-client>=2.108.0
google-auth-oauthlib>=1.1.0
google-auth-httplib2>=0.1.1

# Built by Troy Walker of T-Dub's Apps - 2026-04-23

